/* Global styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: linear-gradient(180deg, rgb(13, 41, 151) 0%, 70%, rgb(28, 79, 221) 100%);
    color: #fff;
    box-shadow:0px 10px 70px 0px rgb(61, 61, 61);
    padding:1vh; 
    padding-left: 4vw; 
    padding-right: 4vw;
}
main{
    background-color: rgb(200, 216, 216);
}

nav{
    color: #fff;
}
.nav-link{
    background: linear-gradient(60deg, rgb(67, 66, 66) 0%,rgb(30, 30, 30) 40%,rgb(0, 0, 0) 100%);
}

.banner{
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, 80%, rgb(62, 62, 62) 100%);
}

.anterior, .posterior{
    font-size: 3em; color: #fff;
}
.subtitulo{
    font-size: 3.5em;
}
.container-category{
    padding-left: 5vw;
}
.section-search{
    background-color: rgb(217, 207, 207);
    padding-left: 4vw;
}
.label-category{
    margin-right: 3em;
}
.search-container{
    padding-right: 5vw;
    display: flex;
    justify-content: end;
}
.search{
    width: 20vw;
    height: 48px;
}
.search-button{
    margin-left: 7px; background: linear-gradient(180deg, rgb(28, 53, 154) 0%, 70%, rgb(43, 93, 229) 100%);
    color: #cfcfcf;
    box-shadow:0px 10px 70px 0px rgb(61, 61, 61);
    width: 48px;
    height: 48px;
}
.section-cards{
    padding-left: 5vw;
    padding-right: 5vw;
}
.h-img{
    height: 13rem;
    object-fit: cover;
}
.vermas-button{
    background: linear-gradient(180deg, rgb(51, 77, 178) 0%, 70%, rgb(84, 124, 233) 100%);
    text-decoration: none; 
    text-align: center; 
    justify-content: center; 
    display: flex;
    /* height:3.3vh;
    width: 5vw; */
}
footer{
    background: linear-gradient(0deg, rgb(13, 41, 151) 0%, 70%, rgb(28, 79, 221) 100%);
}
.socials{
    font-size: 2em;
}
.cohort{
    font-size: 1.8em;
}

/* Contact page styles */
.contact-card-container{
    background-color: rgb(217, 207, 207); 
    align-items: center;
}
.contact-card-2{
    font-size: 1.2em;
}
.contact-label-container{
    padding-bottom: 2em;
}
.contact-input{
    width: 25vw; 
    height: 5vh; 
    border: transparent; 
    border-bottom: 3px solid rgba(84, 124, 233, 0.801); 
    background-color: transparent;
    box-shadow: 1px 6px 1px -2px rgb(173, 168, 168);
}
.contact-message-input{
    width: 25vw;  
    border: transparent; 
    border-bottom: 3px solid rgba(84, 124, 233, 0.801); 
    background-color: transparent;
    box-shadow: 1px 6px 1px -2px rgb(173, 168, 168);
}
.contact-submit-button{
    margin-top: 20px;
    width: 25vw; 
    height: 5vh; 
    text-align: center; 
    background: linear-gradient(180deg, rgb(51, 77, 178) 0%, 70%, rgb(84, 124, 233) 100%);
    box-shadow: 0 8px 40px 4px rgb(131, 128, 128);
}

/* Stats page styles */

.stats-table-container{
    width: 70vw;
}
.stats-title{
    background: linear-gradient(180deg, rgb(51, 77, 178) 0%, 70%, rgb(84, 124, 233) 100%);
}

/* Details page styles */

.details-img-container{
    display: flex;
    align-self: center;
    background-size: cover;

}
.details-img{
    height: 30rem;
    object-fit: cover;
}
.price-card{
    background-color: rgb(19, 8, 121);
    border-radius: 0rem 0rem 1rem 1rem;
    color: white;
}





/* MEDIA QUERIES */

@media only screen and (max-width: 768px) { 
    header{
        display: flex;
        justify-content: end;
        flex-direction: column;


    }
    .logo-container{
        display: inline-block;
        justify-content: center;
    }
    nav{
        display: inline-block;
        justify-content: center;
    }
    nav-bar{
        display: inline-block;
    }
    .nav-link{
        font-size: 1.2em;
    }
    .subtitulo{
        font-size: 50px;
    }
    .container-category{
        flex-wrap: wrap;
        padding-left: 1vw;
    }
    .details-card{
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .details-img-container{
        justify-content: center;
        align-content: center;
    }
    .details-img{
        width: 60vw;
    }
    .image-card-2{
        width: 50vw;
    }
    .section-search{
        background-color: rgb(217, 207, 207);
    }
    .container-category{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .label-category{
        margin-right: 0.5em;
    }
    .search-container{
        display: flex;
        justify-content: center;
        padding-left: 4vw;
    }
    .search{
        width: 80vw;
    }

    .banner{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    
    .contact-card-container{
        background-color: rgb(217, 207, 207); 
        align-items: center;
    }
    .contact-card-2{
        font-size: 1.2em;
    }
    .contact-input{
        width: 60vw; 
        height: 6vh;
    }
    .contact-message-input{
        width: 60vw;
    }
    .submit-button-contact{
        justify-content: center;
        
    }
    .contact-submit-button{
        width: 50vw;
    }
    .stats-table-container{
        width: 80vw;
    }
}